test*
/dist
/build
__pycache__
**/*.spec
**/*.pyc
**/*.json
**/*.jpg
**/*.jpeg
**/*.gif
**/*.png
**/.vscode
*_ref.py
.mypy_cache
!bandit_baseline.json
**/*.xml
**/*.pickle
*.sqlite
sqlite_archive.egg-info
__pycache__/*